Package: ws.hbang.ncpad
Name: NCPad
Pre-Depends: firmware (>= 5.0), gsc.ipad
Depends: mobilesubstrate
Version: 1.0.3
Architecture: iphoneos-arm
Description: Full sized notification banners for iPad
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Section: Tweaks
